@{
  Layout = "_Layout";
}

@model Flavor

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm("/flavor/update"))
{
  @Html.HiddenFor(m => m.flavor_id)
  @Html.LabelFor(m => m.name)
  @Html.TextBoxFor(m => m.name)

  <button type="submit">Update Flavor</button>
}