@{
  Layout = "_Layout";
}

@model AddTreatViewModel

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm("/treat/create"))
{
  @Html.LabelFor(m => m.name)
  @Html.TextBoxFor(m => m.name)

  <button type="submit">Add Treat</button>
}