@{
  Layout = "_Layout";
}

<div class="text-center">
  <h1>Pierre's Sweet and Savory Treats</h1>
  <hr class="my-4">
  @if (User.Identity.IsAuthenticated)
  {
    <form class="my-3" action="/account/logoff" method="post">
      <button class="btn btn-danger" type="submit">Log Out</button>
    </form>
  }
  else 
  {
    <h3 class="my-3">Please @Html.ActionLink("log in", "LogIn", "Account") to manage treats and flavors.</h3>
  }
<a href="/treat">Treats</a>
<hr class="w-50">
<br>
<div class="w-25 text-center m-auto">
  @if (ViewBag.treats.Count == 0)
  {
    <p>Sorry there aren't any treats yet</p>
  }

  @foreach (Treat treat in ViewBag.treats)
  {
    <div class="card">
      <div class="card-body">
      <h1 class="card-title">
        <a href="/treat/details/@treat.treat_id">@treat.name</a>
      </h1>
      </div>
    </div>
    <br>
  }
</div>
  <p>@Html.ActionLink("Flavors", "Index", "Flavor")</p>
</div>
