@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Log out", "Index", "Account")</p>
}
else 
{
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to manage your Treats.</p>
}
<p>@Html.ActionLink("Treats", "Index", "Treat")</p>
<p>@Html.ActionLink("Flavors", "Index", "Flavor")</p>